body {
  width: 960px;
  margin: 0 auto;
  background-color: #428c63;
  font-size: 16px;
}

#content {
  overflow: auto;
  height: 100%;
}

#feature {
  background-color: #6aba8f;
  padding: 10px;
  margin: 10px;
}

#header, #nav, #footer {
  background-color: #5a251f;
  padding: 10px;
  margin: 10px;
  color: #fcfcfc;
}

#header h1 { 
  color: #fcfcfc;
  font-family: 'bearpawregular', cursive;
  font-size: 48px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  clear: left;
}

#main-navbar {
  overflow: hidden;
}

#navbar-container {
  float: left; 
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none; 
  margin: 0;
  padding: 0; 
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fcfcfc;
  text-transform: uppercase;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #d69892;
}

#main-navbar #onpage {
  text-decoration: underline;
}

p {
  text-align: left;
}
