/* Always set the map height explicitly to define the size of the div
* element that contains the map. */

#map {
  height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'bearpawregular', cursive;
}

#main-navbar {
  background-color: blue;
  overflow: hidden;
}

#navbar-container {
  float: left; 
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none; 
  margin: 0;
  padding: 0; 
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #000;
}

#main-navbar #onpage {
  text-decoration: underline overline;
}
