body {
  width: 960px;
  margin: 0 auto;
  background-color: #428c63;
  font-size: 16px;
  color: #fcfcfc;
  font-family: 'Cormorant Garamond', serif;
  text-align: left;
}

#content {
  overflow: auto;
  height: 100%;
}

#feature {
  float: left;
  width: 75%;
  background-color: #a8d6bd;
  padding: 10px;
}

aside {
  float: left;
  width: 25%;
  float: right;
  padding: 0px, 0px, 0px, 20px;
}

#header, #nav, #footer {
  background-color: #5a251f;
  padding: 10px;
  margin: 10px;
  color: #fcfcfc;
}

#header h1 { 
  color: #fcfcfc;
  font-family: 'bearpawregular', cursive;
  font-size: 48px;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  clear: left;
}

h1 { 
  color: #1b2726;
  font-family: 'bearpawregular', cursive;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

#main-navbar {
  overflow: hidden;
}

#navbar-container {
  float: left; 
  width: 100%;
  position: relative;
}

#main-navbar ul {
  list-style-type: none; 
  margin: 0;
  padding: 0; 
  position: relative;
  left: 50%;
  float: left;
}

#main-navbar ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#main-navbar ul li a {
  display: block;
  padding: 10px 20px;
  color: #fcfcfc;
  text-transform: uppercase;
  text-decoration: none;
}

#main-navbar ul li a:hover {
  background-color: #d69892;
}

#main-navbar #onpage {
  text-decoration: underline;
}

p {
  text-align: left;
}

h1 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
  font-weight: normal;
  text-align: center;
}

h2 h3 { 
  color: #535D55;
  font-family: 'Cormorant Garamond', serif;
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

p { 
  font-family: 'Proza Libre', sans-serif;
  color: #514644;
  text-align: justify;
}
